h1 {
	padding: 7em 0 0 0;
	margin-bottom: -120px;
}

h1 img {
	max-width: 434px;
	max-height: 465px;
}

#menu {
	position: absolute;
	top: 0;
	margin: 0;
	width: 100%;
}

.blog, .stuff {
	padding: 1em 0;
	margin: 1em 0;
	position: absolute;
	top: 0;
	font-size: 2em;
	width: 150px;
	line-height: 100px;
	height: 100px;
}
.blog {
	left: 0;
}
.stuff {
	right: 0;
}

table tr {
	padding: .5em 0;
}
table td {
	padding: 0 .5em;
}
ul.list li {
	list-style: inside;
}

@media screen and (max-width : 1400px)   {
	h1 {
		padding: 3em 0 0 0;
	}

	.blog, .stuff { 
		font-size: 1.5em;
		width: 100px;
		line-height: 75px;
		height: 75px;
	}

}

@media screen and (max-width : 800px)   {
	#menu {
	display: none;
	}
}
