h1 {
	padding: 3em 0 0 0;
	margin-bottom: -50px;
}

h1 img {
	max-width: 434px;
	max-height: 465px;
}

#menu {
	position: absolute;
	top: 0;
	margin: 0;
	width: 100%;
}

.cv, .blog {
	padding: 1em 0;
	margin: 1em 0;
	position: absolute;
	top: 0;
	font-size: 2em;
	width: 150px;
	line-height: 100px;
	height: 100px;
	list-style: none;
}
.cv {
	left: 0;
}
.blog {
	right: 0;
}


.stuff li {
	list-style: none;
	text-align: left;
	line-height: 60px;
	position: relative;
}
.stuff li a {
	color: #FFFFFF;
	margin-left: 22.5%;
}
.stuff li img {
	margin-top: 12.5px;
	right: 20%;
	position: absolute;
}

@media screen and (max-width : 1400px)   {
	h1 {
		padding: 3em 0 0 0;
	}

	.cv, .blog { 
		font-size: 1.5em;
		width: 100px;
		line-height: 75px;
		height: 75px;
	}

}

@media screen and (max-width : 800px)   {
	#menu {
	display: none;
	}
}
