.ui.grid.stackable.service_list
  .row
    .column.three.wide.justified
      h3
        i.ui.massive.icon.lightbulb
        |  Strategy
      i.massive.inverted.grey.ui.icon.angle.double.right.hide_on_mobile
    .column.hide_on_mobile
    .column.three.wide.justified
      h3.hide_on_mobile &nbsp;
      h3.hide_on_mobile &nbsp;
      p Every project and engagement involves some degree of consultation and technical guidance, I call this strategy.
      p The following Strategy services are based on over a decade of experience and available to add value to your business.
    .column.hide_on_mobile
    .column.four.wide
      a(href='/services/auditing.html')
        img.ui.image.medium(src='/assets/auditing.jpg')
        .caption
          h3 Auditing
          p Risk assessment, policy and compliance auditing
    .column.four.wide
      a(href='/services/consultancy-and-advocacy.html')
        img.ui.image.medium(src='/assets/services.jpg')
        .caption
          h3 Consultancy and advocacy
          p Digital Transformation for companies of all sizes, ROI and needs tailored approach
    .column.four.wide
      a(href='/services/documentation-and-training-workshops.html')
        img.ui.image.medium(src='/assets/documentation.jpg')
        .caption
          h3 Documentation and training
          p Create a baseline of understanding and capability within your organisation
    .column.four.wide
      a(href='/services/quality-assurance.html')
        img.ui.image.medium(src='/assets/quality-assurance.jpg')
        .caption
          h3 Quality Assurance (QA)
          p Auditing, testing and reviewing technical decisions, direction, platform and process
    .column.four.wide
      a(href='/services/technical-project-management.html')
        img.ui.image.medium(src='/assets/technical-project-management.jpg')
        .caption
          h3 Technical Project Management
          p Care for a technical project during a critical stage, or from start to finish
    .column.four.wide
      a(href='/services/tutoring-professional-coaching.html')
        img.ui.image.medium(src='/assets/tutoring-professional-coaching.jpg')
        .caption
          h3 Tutoring and Professional Coaching
          p Bespoke lesson plans and advice for your career and needs
.ui.dividing.header
.ui.grid.stackable.service_list
  .row
    .column.three.wide.justified
      h3
        i.ui.massive.icon.edit
        |   Design
      i.massive.inverted.grey.ui.icon.angle.double.right.hide_on_mobile
    .column.hide_on_mobile
    .column.three.wide.justified
      h3.hide_on_mobile &nbsp;
      h3.hide_on_mobile &nbsp;
      p The expectations for robust user experiences and information access have been elevated by decades of progress in graphic, web and software design.
      p As a veteran of corporate environments and digital agencies, I have a vast number of past experiences and successful solutions to draw from.
    .column.hide_on_mobile
    .column.four.wide
      a(href='/services/business-process-design.html')
        img.ui.image.medium(src='/assets/business-process-design.jpg')
        .caption
          h3 Business process design
          p Innovate and automate business processes
    .column.four.wide
      a(href='/services/data-analytics-and-reporting.html')
        img.ui.image.medium(src='/assets/data-analytics.jpg')
        .caption
          h3 Data analytics and reporting
          p Provide tools/scripts/software for research automation and data analysis
    .column.four.wide.hide_on_mobile
    .column.four.wide.hide_on_mobile
    .column.four.wide
      a(href='/services/research.html')
        img.ui.image.medium(src='/assets/research.jpg')
        .caption
          h3 Research
          p Compare software, investigate, research technologies, languages and frameworks
    .column.four.wide
      a(href='/services/system-design.html')
        img.ui.image.medium(src='/assets/system-design.jpg')
        .caption
          h3 System design
          p Design custom business systems using a mix of technology
.ui.dividing.header
.ui.grid.stackable.service_list
  .row
    .column.three.wide.justified
      h3
        i.ui.massive.icon.cogs
        |  Engineering
      i.massive.inverted.grey.ui.icon.angle.double.right.hide_on_mobile
    .column.hide_on_mobile
    .column.three.wide.justified
      h3.hide_on_mobile &nbsp;
      h3.hide_on_mobile &nbsp;
      p I've been writing code for over twenty years and am confident that I can deliver anything given the right plan, time and budget.
      p My past experiences and knowledge of the latest trends inform my offering, ensuring I can bring value in the most efficient manner possible.  
    .column.hide_on_mobile
    .column.four.wide.hide_on_mobile
    .column.four.wide
      a(href='/services/software-web-development.html')
        img.ui.image.medium(src='/assets/software-web-dev.jpg')
        .caption
          h3 Software applications
          p Custom desktop and web applications, services, systems integrations and data systems.
    .column.eight.wide.hide_on_mobile
    .column.four.wide
      a(href='/services/test-automation.html')
        img.ui.image.medium(src='/assets/test-automation.jpg')
        .caption
          h3 Test business logic and data integrity
          p Build, configure and run automated tests in an existing or new framework
    .column.four.wide
      a(href='/services/website-development.html')
        img.ui.image.medium(src='/assets/website-dev.jpg')
        .caption
          h3 Website development
          p Custom websites, implement integrations and clear backlog of bugfixes
