h1#logo.ui.header
  a(href="/") Paul Brzeski

#menu.ui.fluid.menu.inverted.attached
  a.item(href="/services.html") SERVICES
  a.item(href="/case-studies.html") CASE STUDIES
  a.item(href="/articles.html") ARTICLES
  a.item(href="/about.html") ABOUT