#global-header.ui.grid.stackable
  .column.eight.wide
    h1#logo.ui.header
      a(href="/" title="Homepage")
        img.ui.image(src="/assets/logo.png")
    a#mobile_menu_toggle(onclick='$("#menu").slideToggle()')
      i.content.icon
  .column.eight.wide
    #menu.ui.menu.fluid.four.item.stackable
      a.item(href="/services.html") Services
      a.item(href="/case-studies.html") Case Studies
      a.item(href="/articles.html") Articles
      a.item(href="/about.html") About
