doctype html
html
  head
    title
      block title
    base(href='/')
    meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,700', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css', rel='stylesheet')
    link(href='./dist/styles.css', rel='stylesheet')
  body
    include /src/templates/header.pug
    block page
    footer
      .ui.container
        .ui.grid  
          .left.floated.column.three.wide
            .ui.horizontal.list
              .ui.item
                .ui.mini.image
                  a(href='https://www.deviantart.com/thezeski' title='DeviantArt')
                    img(src='/assets/deviantart.png' alt='Deviantart')
              .ui.item
                .ui.mini.image
                  a(href='https://github.com/paulbrzeski' title='Github')
                    img(src='/assets/github.png' alt='Github')
              .ui.item
                .ui.mini.image
                  a(href='https://www.instagram.com/paulbrzeski/' title='Instagram')
                    img(src='/assets/instagram.png' alt='Instagram')
              .ui.item
                .ui.mini.image
                  a.header(href='https://www.linkedin.com/in/paul-brzeski-59764b82/' title='LinkedIn')
                    img(src='/assets/linkedin.png' alt='LinkedIn')
          .right.floated.column.three.wide © Paul Brzeski 2019
    include /src/templates/scripts.pug
