doctype html
html
  head
    title
      block title
      |  | Paul Brzeski Consulting | Software engineering and technical strategy | Perth, Western Australia
    base(href='/')
    meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:100,300,400,700', rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css', rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css', rel='stylesheet')
    link(href='./dist/styles.css', rel='stylesheet')
    link(href='./dist/responsive.css', rel='stylesheet')
    block head
  body.ui.container.wide
    include /src/templates/header.pug
    block page
    .ui.divider
    footer
      .ui.grid.stackable
        .row
          .column.five.wide.right.aligned
            h3 Work smarter, not harder.
            .ui.list.very.relaxed
              .item
                a(href="/services.html")
                  span Services
              .item
                a(href="/case-studies.html")
                  span Case Studies
              .item
                a(href="/articles.html")
                  span Articles
              .item
                a(href="/about.html")
                  span About
          .column.two.wide.hide_on_mobile
          .column.three.wide
            h3 Get in touch
            .ui.list.very.relaxed
              .item
                a(href='https://www.deviantart.com/thezeski' title='DeviantArt')
                  img.ui.mini.image(src='/assets/deviantart.png' alt='Deviantart')
                  span DeviantArt
              .item
                a(href='mailto:info@paulbrzeski.com' title='Email me')
                  img.ui.mini.image(src='/assets/email.PNG' alt='Email')
                  span E-mail
              .item
                a(href='https://www.facebook.com/paulbrzeskico/' title='Facebook')
                  img.ui.mini.image(src='/assets/facebook.png' alt='Facebook')
                  span Facebook
              .item
                a(href='https://github.com/paulbrzeski' title='Github')
                  img.ui.mini.image(src='/assets/github.png' alt='Github')
                  span Github
              .item
                a(href='https://www.instagram.com/paulbrzeski/' title='Instagram')
                  img.ui.mini.image(src='/assets/instagram.png' alt='Instagram')
                  span Instagram
              .item
                a.header(href='https://www.linkedin.com/in/paul-brzeski-59764b82/' title='LinkedIn')
                  img.ui.mini.image(src='/assets/linkedin.png' alt='LinkedIn')
                  span LinkedIn
          .column.five.wide
            a(href="/" title="Homepage")
              img.logo.ui.fluid.image(src="/assets/logo.png")
            h5 ABN 50 711 323 074
    include /src/templates/scripts.pug
