doctype html
html
  head
    title
      block title
      |  | Paul Brzeski | Software engineering and technical strategy | Perth, Western Australia
    base(href='/')
    meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,700', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css', rel='stylesheet')
    link(href='./dist/styles.css', rel='stylesheet')
  body
    include /src/templates/header.pug
    block page
    .ui.divider
    footer
      .ui.container
        .ui.grid
          .row
            .left.floated.column
              .ui.menu.secondary
                .item
                  a(href='https://www.deviantart.com/thezeski' title='DeviantArt')
                    img.ui.mini.image(src='/assets/deviantart.png' alt='Deviantart')
                    span DeviantArt
                .item
                  a(href='https://github.com/paulbrzeski' title='Github')
                    img.ui.mini.image(src='/assets/github.png' alt='Github')
                    span Github
                .item
                  a(href='https://www.instagram.com/paulbrzeski/' title='Instagram')
                    img.ui.mini.image(src='/assets/instagram.png' alt='Instagram')
                    span Instagram
                .item
                  a.header(href='https://www.linkedin.com/in/paul-brzeski-59764b82/' title='LinkedIn')
                    img.ui.mini.image(src='/assets/linkedin.png' alt='LinkedIn')
                    span LinkedIn
            .right.floated.column.three.wide ABN 50 711 323 074
    include /src/templates/scripts.pug
