block vendor_scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js')
  script(src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')

block scripts

<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-125551739-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-125551739-1');
  var leady_track_key="7uJ8ON00qdEC1Egn";
  (function(){
    var l=document.createElement("script");l.type="text/javascript";l.async=true;
    l.src='https://t.leady.com/'+leady_track_key+"/L.js";
    var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(l,s);
  })();
script.
  var owa_baseUrl = 'http://owa.paulbrzeski.com/';
  var owa_cmds = owa_cmds || [];
  owa_cmds.push(['setSiteId', 'fc1dfb2a614caab8fded84b3621f2935']);
  owa_cmds.push(['trackPageView']);
  owa_cmds.push(['trackClicks']);

  (function() {
    var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
    owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
    _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
    var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
  }());

// Load Facebook SDK for JavaScript
#fb-root
script.
  window.fbAsyncInit = function() {
  FB.init({
  xfbml            : true,
  version          : 'v4.0'
  });
  };
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
// Your customer chat code
.fb-customerchat(attribution='setup_tool' page_id='114724189897574' theme_color='#6699cc' logged_in_greeting='Hello there! How can I help you?' logged_out_greeting='Hello there! How can I help you?')
