extends /src/templates/layout.pug

block append scripts
  link(href='/dist/service.css', rel='stylesheet')

block append title
  | Business process design | Services

block append page
  .ui.breadcrumb.big
    a.section(href='/services.html') Services
    .divider >
    .active.section Business process design
  header
    img.ui.image(src='/assets/business-process-design.jpg' style='object-fit: cover; max-height: 650px; width: 100%; object-position: 0px -225px ')
    h2.caption.left Innovate and automate business processes
  #service
    .ui.two.column.very.relaxed.stackable.grid.centered
      .column
        .ui.list
          .item
            h3.ui.dividing.header Why I'm a good choice for this work:
            ul
              li A genuine passion for finding better ways to do things
              li Pragmatic and ethical, I won't waste my or my clients time suggesting things that have no value
              li Variety of experiences in life and career means I know a lot of different ways to look at things
          .item
            h3.ui.dividing.header Example requests:
            ul
              li Design new user interfaces to reduce errors and increase process efficiency
              li Integrate existing systems so that staff don't need to ferry information between them
              li Investigation into staff day to day activities with systems to identify areas for improvement
      .column
          .item
            h3.ui.dividing.header Technology used:
            ul
              li ASP.NET and Web Services
              li Microsoft Visio and Pencil to create diagrams (DFD, ERD, etc.)
              li Pencil and Adobe Illustrator to create wireframes and designs
          .item
            h3.ui.dividing.header Sectors:
            ul
              li E-commerce
              li Internet and telecommunications service providers
              li Government
              li Professional services
              li Tourism
