extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | System design | Services | Paul Brzeski

block append page
  .ui.main.container
    h2.ui.dividing.header System design
    canvas
    .ui.two.column.very.relaxed.stackable.grid.centered
      .column.middle.aligned
        .ui.list
          .item
            h3 Design software architecture and processes using a mix of technology
      .column
        .ui.list
          .item
            h3.ui.dividing.header Why I'm a good choice for this work:
            ul
              li Experienced mediator and facilitator of conversation
              li Keen to improve the lives of others with good software
              li Variety of past work means I have seen a lot of different ways of doing things
          .item
            h3.ui.dividing.header Example requests:
            ul
              li Create project scope and documents for in-house teams 
              li Design scalable architecture that can be implemented efficiently in an existing custom system
              li Study BAU and manual procedures within a company and propose new systems
          .item
            h3.ui.dividing.header Technology used:
            ul
              li Diagramming: Pencil, Visio, MySQL Workbench, SQL Server Management Studio
              li Industry best practices for information architecture and user experience (UX)
              li Wireframes: Adobe Illustrator, HTML, paper and pen
          .item
            h3.ui.dividing.header Sectors:
            ul
              li Education
              li E-Commerce
              li Internet and telecommunications service providers
              li Government
              li Professional services
              li Tourism
