extends /src/templates/layout.pug

block append head
  link(href='/dist/service.css', rel='stylesheet')

block append title
  | Test automation | Services

block append page
  .ui.breadcrumb.big
    a.section(href='/services.html') Services
    .divider >
    .active.section Test automation
  header
    img.ui.image(src='/assets/test-automation.jpg' style='object-fit: cover; max-height: 650px; width: 100%; object-position: 0px -425px ')
    h2.caption.left Build, configure and run automated tests in an existing or new framework
  #service
    .ui.two.column.very.relaxed.stackable.grid.centered
      .column
        .ui.list
          .item
            h3.ui.dividing.header Why I'm a good choice for this work:
            ul
              li Diligence to ensure all business logic has proper test coverage
              li Leveraging other skills as a developer to do things normally not seen in this space
              li Variety of past work means I have seen a lot of different ways of doing things
          .item
            h3.ui.dividing.header Example requests:
            ul
              li Implement tests within a continuous integration tools such as Atlassian Bamboo, BitBucket Pipelines or Travis CI
              li Implement validation layer via stored procedures so that applications sharing a database cannot create bad data
              li Setup Git hooks to enforce linting
      .column
        .ui.list
          .item
            h3.ui.dividing.header Technology used:
            ul
              li Build and scheduling: Atlassian Bamboo, Bash scripts, Cron, Tidal Enterprise Scheduler
              li Linters and file checkers: JSLint, PHP Codesniffer, Regular Expressions in scripts
              li Testing: C#.NET, JUnit, PHPUnit, Selenium
          .item
            h3.ui.dividing.header Sectors:
            ul
              li E-Commerce
              li Internet and telecommunications service providers
              li Professional services
              li Tourism
