extends /src/templates/layout.pug

block append head
  link(href='/dist/service.css', rel='stylesheet')

block append title
  | Website development | Services

block append page
  .ui.breadcrumb.big
    a.section(href='/services.html') Services
    .divider >
    .active.section Website development
  header
    img.ui.image(src='/assets/website-dev.jpg' style='object-fit: cover; max-height: 650px; width: 100%; object-position: 0px -425px ')
    h2.caption.left Custom websites, implement integrations and clear backlog of bugfixes
  #service
    .ui.two.column.very.relaxed.stackable.grid.centered
      .column
        .ui.list
          .item
            h3.ui.dividing.header Why I'm a good choice for this work:
            ul
              li Never permanently stuck on a problem, I always find a solution
              li Passion for staying up to date and hobbyist working on my own cutting edge projects
              li Self taught and ready to learn new things, I have been writing code since 1999
          .item
            h3.ui.dividing.header Example requests:
            ul
              li Extend an existing website with new functionality
              li Fix bugs and perform maintenance, e.g. software updates
              li Solve a business problem by building custom software, e.g. Workforce tracking, product and service provisioning
      .column
        .ui.list
          .item
            h3.ui.dividing.header Technology used:
            ul
              li Frontend Frameworks: Backbone, Bootstrap, jQuery, Semantic UI, Underscore, three.js, Vue
              li Backend Frameworks: Code Igniter, Laravel, .NET, Symfony
              li Languages: C#, CSS, GLSL, HTML5, Java, Javascript ES6, PHP, SQL
              li Tools: Eclipse, Sublime Text, vim and Visual Studio
              li Server: cPanel, Ubuntu, Windows Server
          .item
            h3.ui.dividing.header Sectors:
            ul
              li Education
              li E-Commerce
              li Internet and telecommunications service providers
              li Government
              li NGO and charity
              li Professional services
              li Tourism
