/*
  About Page
*/

#about_page
  width 95%
  margin 0 auto
  .founded
    font-size 1.4rem
    margin 2rem 0 0
  h2
    margin 2rem 0 1rem
    padding-bottom .75rem
  
@media only screen and (min-width: 1500px)
  #about_page
    width 80%