/*
  Articles
*/

#articles
  margin 0 auto
  .column
    margin 1.25rem 0
  h3
    color #000000
    margin 0 0 1.25rem 0
  p
    line-height 2rem
    
@media only screen and (min-width: 1500px)
  #articles
    width 80%
    .row.main
      h3
        padding 3rem 0
        font-size 2.4rem
        font-weight 300
      p
        font-size 1.4rem
        line-height 2.1rem