/*
  Landing Page
*/
header
  position relative
  text-align center
  img
    margin-bottom 2em
  h2
    color #FFFFFF
    font-size 36pt
    font-weight 300
    position absolute
    top calc(165px - 1em)
    left 0
    letter-spacing .2em
    right 0
    margin-left auto
    margin-right auto
    text-transform uppercase
