/*
  Service Page
*/

header
  h2
    font-weight 300
    letter-spacing .1em
    line-height 1.6em
    position absolute
    top 575px
    padding 1.5em
    background rgba(0,0,0,0.85)
    color #FFFFFF
    &.left
      left 0
      max-width 50%
      padding-left 3em
    &.right
      max-width 50%
      padding-right 3em
      right 0

.ui.breadcrumb
  padding 1em 1.6em
  width 100%
  background #191c1c
  background linear-gradient(to bottom,  #191c1c 1%,#45484d 100%)
  letter-spacing .1em
  text-shadow: 5px 5px 5px #000000;
  .section, .divider
    color #EEEEEE
    font-weight 300 !important
    text-transform uppercase
    &:hover
      color #FFFFFF

#service
  margin 1em auto
  width 80%
  h3
    font-size 2em
    font-weight 300
    margin 0 0 1em 0
    padding 1em 0
  .list
    li
      line-height 2em
      list-style-type square