*
  font-family 'Merriweather', serif !important
  
footer
  display block
  background black
  color white
  line-height 2em
  margin-top 3em

h1#logo
  font-weight 100
  text-align center
  padding-top .75em
  a
    color black
    
h2.ui.dividing.header
  font-weight 100
  margin-top 1em

#menu
  background #000000
  justify-content center
  margin-bottom .5em
  
  .item 
    margin-top .35em
    margin-bottom .35em
  
  .item:before,
  .item:after
    display none
    
canvas
  height 420px
  width 100%
  background-color #002233
