*
  font-family 'Merriweather', serif !important
  
footer
  display block
  background black
  color white
  line-height 2em
  margin-top 3em
  
  .right.floated.column.three
    text-align right

a
  &,&:hover
    color black
  &:hover
    text-decoration underline

.column 
  .ui.list
    .item
      margin .5em 0
  

table
  h3
    text-align center
  p
    text-align justify

h1#logo
  font-weight 100
  text-align center
  padding-top .75em

h2.ui.dividing.header,
h2.service.contract,
h3.ui.dividing.header
  font-weight 100 !important
  margin-top 1em !important

#menu
  background #000000
  justify-content center
  margin-bottom .5em
  
  .item 
    margin-top .35em
    margin-bottom .35em
  
  .item:before,
  .item:after
    display none
    
canvas
  height 220px
  width 100%
  background-color #002233
  
  &.home
    height 420px
