extends /src/templates/layout.pug

block append scripts
  link(href='/dist/landing.css', rel='stylesheet')

block append title
  | About

block append page
  header
    img.ui.image(src='/assets/about.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -200px ')
    h2 About
  .ui.main.container
    .ui.two.column.very.relaxed.stackable.grid
      .row
        .column
          h2.ui.dividing.header My Story
          p It probably won't surprise you that I'm of Polish descent, the name is a dead give away. My father is Polish and my mother is Filipino, so I'm actually mixed race.
          p Born in Australia, I was fortunate to spend some of my youth in my parents home countries - attending parts of primary and high school overseas. This exposure to different cultures and viewpoints was formative to my worldview of humanism.
          p I wrote my first programs in DOS at age 11 and haven't looked back. I like loud music, fun video games and indulgent snacks. In my downtime I work on my projects, ride my bicycle and wonder about stuff.
          h2.ui.dividing.header History
          h3 Professional Freelancer
          p Feb 2019 – Present, 6 months
          h3 Software Engineer, Scantek Solutions
          p Oct 2018 – Dec 2018, 3 months
          h3 Web Developer, Doghouse Agency
          p Dec 2015 – Sep 2018, 2 years and 10 months
          h3 Programmer, iiNet
          p May 2010 – Sep 2015, 4 years and 5 months
          h3 Developer, Precedent
          p May 2010 – May 2011, 1 year
          h3 Programmer, ATS Solutions
          p Sep 2008 – May 2010
          h2.ui.dividing.header Values
          .ui.grid
            .row
              .column.three.wide
                img.ui.image.fluid(src='/assets/aboriginal-flag.png')
              .column.thirteen.wide
                p I acknowledge this business is based on Aboriginal land and recognise the strength, resilience and capacity of the Noongar people, the traditional custodians of the land I am on.
            .row
              .column.three.wide
                img.ui.image.fluid(src='/assets/pride-flag.jpg')
              .column.thirteen.wide
                p It is important to me that working relationships are respectful, positive and inclusive. Emotional well-being and mental health means as much to me as the nuts and bolts of business and the dollars and cents of economics.
        .column
          h2.ui.dividing.header Professional Objectives
          ol.ui.list
            li.item Lead on technology and innovation using research to steer decision making
            li.item Follow relevant governing laws and best practices in all areas of business
            li.item Build sustainable long term relationships with ethical organisations around the world
            li.item Professional lobbying and advocacy for the common good, focused on Australia
            li.item Contribute to the open source code movement and collaborate with the world’s best
            li.item Change the world using all of the above
          h2.ui.dividing.header Technology
          h3 Database
          p IBM DB2, MS SQL Server, MongoDB, MySQL and Oracle
          h3 Front-end
          p Backbone, Bootstrap, GMaps, jQuery, Semantic UI, SVG, Three.JS and Underscore
          h3 Infrastructure
          p CentOS, Ubuntu, VMware ESXi and Windows Server
          h3 Languages
          p C#, GLSL, Javascript, Perl, PHP and SQL
          h3 .NET Solutions
          p ASP.NET, Sitekit, Umbraco and Windows Services
          h3 PHP Solutions
          p Drupal, Joomla, Magento, modX and Wordpress
          h3 Protocols
          p SOAP and WebSocket
