extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Homepage | Made in Kettlefish (https://github.com/paulbrzeski/kettlefish)

block append page
  .ui.main.container
    .ui.two.column.very.relaxed.stackable.grid
      .column.ten.wide
        h2.ui.dividing.header Bio
        p It probably won't surprise you that I'm of Polish descent, the name is a dead give away. My father is Polish and my mother is Filipino, so I'm actually mixed race.
        p Born in Australia, I was fortunate to spend some of my youth in my parents home countries - attending parts of primary and high school overseas. This exposure to different cultures and viewpoints was formative to my worldview of humanism.
        p I wrote my first programs in DOS at age 11 and haven't looked back. I like loud music, fun video games and indulgent snacks. In my downtime I work on my projects, ride my bicycle and wonder about stuff.
        h2.ui.dividing.header Professional history
        p Starting as a data entry clerk for an ISP called Westnet, I found myself understanding the systems around me and quickly ascended in the ranks to become a supervisor within the Provisioning team. Liaising with developers in that capacity led me to realize I could pursue my programming interests as a career.
        p After quitting the call center, I went to TAFE however my course got cancelled halfway through the year. I was fortunate that a customer at the cafe I worked in needed help with a shopping cart. I fixed the bug with ease and was offered my first full time job as a programmer.
        p Over a decade later, I have a combination of experiences as both a web developer in agency environments and software engineer in a corporate environment. I am proud of having a countless list of completed projects and examples of good work and value given to my employers and clients alike in that time.
      .column.six.wide
        h2.ui.dividing.header Active projects
        .ui.items
          .item
            .content
              a(href='https://github.com/paulbrzeski/kamigen')
                h3 Kamigen
              .meta A tropical cyberpunk game with supersonic aircraft. The setting is based on the island of Camiguin in Philippines as a tribute to my heritage and the wonder I felt when I visited as a kid.
          .item
            .content
              a(href='https://github.com/paulbrzeski/kettlefish')
                h3 Kettlefish
              .meta An opinionated boilerplate to create static websites (like this one!). Out of the box Kettlefish comes with a default homepage built using a Semantic UI layout example, allowing anyone who knows what these tools are to hit the ground running.
          .item
            .content
              a(href='https://github.com/paulbrzeski/manifold')
                h3 Manifold
              .meta A hybrid 2D/3D design tool, this is an experimental program to address the need for fast and efficient modelling for Three.JS scenes. The 2D vector component can also be used for general illustration and design needs.
        h2.ui.dividing.header Social media
        .ui.items
          .ui.item
            .ui.mini.image
              img(src='/assets/deviantart.png')
            .middle.aligned.content
              a.header(href='https://www.deviantart.com/thezeski') DeviantArt
          .ui.item
            .ui.mini.image
              img(src='/assets/Github.png')
            .middle.aligned.content
              a.header(href='https://github.com/paulbrzeski') Github
          .ui.item
            .ui.mini.image
              img(src='/assets/Instagram.png')
            .middle.aligned.content
              a.header(href='https://www.instagram.com/paulbrzeski/') Instagram
          .ui.item
            .ui.mini.image
              img(src='/assets/LinkedIn.png')
            .middle.aligned.content
              a.header(href='https://www.linkedin.com/in/paul-brzeski-59764b82/') LinkedIn
