extends /src/templates/layout.pug

block append head
  link(href='/dist/landing.css', rel='stylesheet')
  link(href='/dist/about.css', rel='stylesheet')

block append title
  | About

block append page
  header
    img.ui.image(src='/assets/about.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -200px ')
    h2 About
  #about_page
    .ui.two.column.very.relaxed.stackable.grid
      .row
        .column.sixteen.wide
          p.founded Freelancing since 2018, Paul Brzeski offers unique solutions that are researched, made to last and, most importantly, built for humans.
      .row
        .column
          h2.ui.dividing.header Professional Objectives
          ol.ui.very.relaxed.list
            li.item 
              | Lead on 
              strong technology
              |  and 
              strong innovation
              |  using 
              strong research
              |  to steer decision making.
            li.item
              strong Compliance
              |  with relevant 
              strong governing laws
              |  and 
              strong best practices 
              |  in all areas of business.
            li.item Build 
              strong sustainable
              |  long term 
              strong relationships 
              | with 
              strong ethical 
              | organisations around the 
              strong world.
            li.item
              strong Professional 
              | lobbying and 
              strong advocacy 
              | for the 
              strong common good
              | , focused on Australia
            li.item 
              strong Contribute 
              | to the 
              strong open source code 
              | movement and 
              strong collaborate 
              | with the world’s best.
            li.item
              strong Change the world, using all of the above
          br
          h2.ui.dividing.header Technology I have experience with
          .ui.very.relaxed.grid
            .row.two.column
              .column
                h3 Database Engines
                p IBM DB2, MS SQL Server, MongoDB, MySQL and Oracle
              .column
                h3 Front-end Frameworks
                p Backbone, Bootstrap, GMaps, jQuery, Semantic UI, SVG, Three.JS and Underscore
            .row.two.column
              .column
                h3 Non-Human Languages
                p CSS, C#, GLSL, Javascript, HTML, Perl, PHP, SQL (various), Visual Basic
              .column
                h3 Operating Systems
                p CentOS, Fedora Core, Manjaro, OSX, Ubuntu, VMware ESXi and Windows Server
            .row.two.column
              .column
                h3 PHP Content Management Systems
                p Drupal, Joomla, Magento, modX and Wordpress
              .column
                h3 Server application Frameworks
                p ASP.NET, Express.js, socket.io   
        .column
          h2.ui.dividing.header My Story
          .ui.grid
            .row
              .column.ten.wide
                p Born in sunny Perth Western Australia, I was fortunate to spend some of my youth in my parents home countries - attending a mix of private and public schools. This exposure to different cultures and viewpoints was formative to my worldview of humanism.
                p I didn't have a lot of friends or toys as a kid but at the age of six I got a PC. Using books from the public library I was able to teach myself to write software code by age eleven. At twenty, without any formal education, I got my first job as a programmer.
              .column.six.wide
                img.ui.image.medium(src='/assets/me.jpeg')
          br
          h2.ui.dividing.header Business Values
          .ui.grid
            .row
              .column.three.wide
                img.ui.image.fluid(src='/assets/aboriginal-flag.png')
              .column.thirteen.wide
                p I acknowledge this business is based on Aboriginal land and recognise the strength, resilience and capacity of the Whadjuk people, the traditional custodians of this land.
            .row
              .column.three.wide
                img.ui.image.fluid(src='/assets/linux.png')
              .column.thirteen.wide
                p Free and Open Source is as much a way of thinking as it is a software licensing scheme, as such I strive to be accountable, transparent, informative and useful to others in all business interactions and activities.
            .row
              .column.three.wide
                img.ui.image.fluid(src='/assets/pride-flag.jpg')
              .column.thirteen.wide
                p It is important to me that working relationships are respectful, positive and inclusive. Everyone works best when they are comfortable and feel appreciated for their effort.