extends /src/templates/layout.pug

block append head
  link(href='/dist/landing.css', rel='stylesheet')
  link(href='/dist/articles.css', rel='stylesheet')

block append title
  | Articles

block append page
  header
    img.ui.image(src='/assets/articles.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -650px ')
    h2 Articles
  #articles
    .ui.grid.three.column.wide.very.relaxed.stackable
      .row.main
        .column.sixteen.wide
          .ui.grid.stackable
            .ui.grid.stackable
              .column.five.wide
                a(href='https://medium.com/@mail_59849/future-jobs-the-rise-of-interdisciplinary-thinking-6e85a1763063')
                  img.ui.image.fluid(src='/assets/thumb11.jpg')  
              .column.eleven.wide
                a(href='https://medium.com/@mail_59849/future-jobs-the-rise-of-interdisciplinary-thinking-6e85a1763063')
                  h3 Future Jobs: The Rise of Interdisciplinary Thinking
                p The application of artificial intelligence has begun to change our world. In the past we may have needed a team professionals to produce a deliverable like a TV commercial or new car design — new tools and interdisciplinary skills could achieve the same work with just two people or even one person.
      .row
        .column
          .ui.grid.stackable
            .column.nine.wide
              a(href='https://medium.com/@mail_59849/when-i-grow-up-i-want-to-be-george-lucas-fba6d5ae93b8')
                img.ui.image.fluid(src='/assets/thumb10.jpg')
            .column.seven.wide
              a(href='https://medium.com/@mail_59849/when-i-grow-up-i-want-to-be-george-lucas-fba6d5ae93b8')
                h3 When I grow up, I want to be George Lucas
              p When I was 11, I wanted to be a film director. 20 years later, I want to be a specific film director - George Lucas. Star Wars is one film, but the tools and knowledge that it created in 1977 are still used by an entire industry today.
        .column
          .ui.grid.stackable
            .column.nine.wide
              a(href='https://medium.com/@mail_59849/a-matter-of-privacy-and-security-fba3ba6eee23')
                img.ui.image.fluid(src='/assets/thumb9.jpg')
            .column.seven.wide
              a(href='https://medium.com/@mail_59849/a-matter-of-privacy-and-security-fba3ba6eee23')
                h3 Open Source: The peaceful revolution
              p Why is the Free and Open Source Software movement yet to make a significant impact on multimedia production and video games? 
        .column
          .ui.grid.stackable
            .column.nine.wide
              a(href='https://medium.com/@mail_59849/a-matter-of-privacy-and-security-fba3ba6eee23')
                img.ui.image.fluid(src='/assets/thumb8.jpeg')
            .column.seven.wide
              a(href='https://medium.com/@mail_59849/a-matter-of-privacy-and-security-fba3ba6eee23')
                h3 A matter of privacy and security
              p Websites have existed for some time, and yet we seem to be going backwards when it comes to performance and security. But why is this?
      .row
        .column
          .ui.grid.stackable
            .column.nine.wide
              a(href='https://medium.com/@mail_59849/balancing-compliance-ethics-and-value-in-digital-a5874b43ef16')
                img.ui.image.fluid(src='/assets/thumb7.png')
            .column.seven.wide
              a(href='https://medium.com/@mail_59849/balancing-compliance-ethics-and-value-in-digital-a5874b43ef16')
                h3 Balancing compliance, ethics and value in digital
              p Since 1999 we’ve experienced a tech revolution in business, government and wider society. In 2019 Australia, the web is an integral part of daily life — but how reliable is it all? 
        .column
          .ui.grid.stackable
            .column.nine.wide
              a(href='https://medium.com/@mail_59849/windows-10-review-2018-d343f2846d74')
                img.ui.image.fluid(src='/assets/thumb1.PNG')
            .column.seven.wide
              a(href='https://medium.com/@mail_59849/windows-10-review-2018-d343f2846d74')
                h3 Windows 10 Review
              p Fuck. That is a good word to describe this operating system and I hope that this article takes your mind off some of the crap we are all putting up with at home and at work. Windows 10 has been great for Apple, that’s for sure.
        .column
          .ui.grid.stackable
            .column.nine.wide
              a(href='https://medium.com/@mail_59849/set-raytracers-to-maximum-77a9f0484441')
                img.ui.image.fluid(src='/assets/thumb2.PNG')
            .column.seven.wide
              a(href='https://medium.com/@mail_59849/set-raytracers-to-maximum-77a9f0484441')
                h3 Set Raytracers to Maximum
              p So I was casually watching a Youtube video about dogfighting in space. They made a great point that guns on fighters should be close instead of far apart — this is something that I struggled to design for when..
      .row
        .column
          .ui.grid.stackable
            .column.nine.wide
              a(href='https://medium.com/@mail_59849/how-deep-is-the-river-if-you-cannot-see-the-bottom-40910b0fd80c')
                img.ui.image.fluid(src='/assets/thumb3.PNG')
            .column.seven.wide
              a(href='https://medium.com/@mail_59849/how-deep-is-the-river-if-you-cannot-see-the-bottom-40910b0fd80c')
                h3 How deep is the river if you cannot see the bottom?
              p Upgrading your computer isn’t too hard — you work out where you can get good gains or if the whole setup needs a replacement. Unfortunately the latter option isn’t available for the human brain.
        .column
          .ui.grid.stackable
            .column.nine.wide
              a(href='https://medium.com/@mail_59849/creating-good-tools-for-a-brave-new-world-a85fa2da43cf')
                img.ui.image.fluid(src='/assets/thumb4.PNG')
            .column.seven.wide
              a(href='https://medium.com/@mail_59849/creating-good-tools-for-a-brave-new-world-a85fa2da43cf')
                h3 Creating good tools for a brave new world
              p I’m building a 2D/3D hybrid graphic design tool called Manifold. In this article I’m going to discuss the approach I’m taking in order to fit it into the workflow that I need for building games. What do I want the process to look like and what tools do I need to execute it?
        .column
          .ui.grid.stackable
            .column.nine.wide
              a(href='https://medium.com/@mail_59849/my-angel-is-the-manifold-d0b718d03071')
                img.ui.image.fluid(src='/assets/thumb5.PNG')
            .column.seven.wide
              a(href='https://medium.com/@mail_59849/my-angel-is-the-manifold-d0b718d03071')
                h3 My angel is the manifold
              p Naming is the most important decision in a new open source project. It needs to convey a meaning, be ubiquitous, unique, low GI, etc. I’m coming up to the 5th anniversary of developing Langenium and I’m actually further away from a playable game than the early days of the project.
      .row
        .column
          .ui.grid.stackable
            .column.nine.wide
              a(href='https://medium.com/@mail_59849/in-order-to-save-time-you-must-first-invent-the-universe-dcb30e67418')
                img.ui.image.fluid(src='/assets/thumb6.PNG')
            .column.seven.wide
              a(href='https://medium.com/@mail_59849/in-order-to-save-time-you-must-first-invent-the-universe-dcb30e67418')
                h3 In order to save time, you must first invent the universe
              p One of the hardest parts of developing a 3D game is coming up with assets such as models, textures and even concept art itself. This is especially hard if you suck at 3D modelling and frankly don’t have time for it.
        .column
          a(href='https://medium.com/@mail_59849/confessions-of-a-dancing-cellocher-9851077e84ee')
            h3 Confessions of a Dancing Cellocher
          p I use music as a tool, to perk me up when my brain doesn’t want to undertake the task at hand. A lot of the time this is my day job or housework, but it applies just as easily to exercise and even driving.
        .column
          a(href='https://medium.com/@mail_59849/what-is-me-44512e2cd277')
            h3 What is me?
          p I was originally going to use my personal website as a base for blogging, linking off to my other places on the web, maybe showcasing some of my work. Typical web presence for someone in my line of work and with my interests.
      .row
        .column
        .column
          a(href='https://medium.com/@mail_59849/how-i-learned-to-stop-coding-and-love-the-web-5027b268649f')
            h3 How I learned to stop coding and love the web
          p AS a programmer, I love to build my own tools or come up with my own solutions. My hobby has been great for my professional career, but my own ability to complete personal projects in my free time has gone out the window. It seems staying up for days, like I did growing up playing with Flash and Visual Basic, trying to solve one problem doesn’t work as well for a grown adult with bills. Talking to pets can help, but sometimes they just distract me.
        .column
