extends /src/templates/layout.pug

block append head
  link(href='/dist/landing.css', rel='stylesheet')
  link(href='/dist/case-studies.css', rel='stylesheet')

block append title
  | Case studies

block append page
  header
    img.ui.image(src='/assets/case-studies.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -425px ')
    h2 Case studies
  #case_studies
    p Throughout the course of my career most of my work has been confidental and this has not changed since switching to contracting. Unfortunately I am unable to disclose specifics about any of the work I've delivered in the past few years and the ones I can are too long ago to be relevant.
    p The time commitment, technical ability and innovative thinking I apply to my personal projects is comparable to my day to day work so I encourage you to review their case studies below.
    br
    .ui.list
      .item
        .ui.grid.stackable.very.relaxed
          .column.six.wide
            a(href='/case-studies/open-studios.html')
              img.ui.image.fluid(src='/assets/logo-openstudios.png' alt='The Open Studios logo is an open HTML tag')
          .column.ten.wide
            a(href='/case-studies/open-studios.html')
              h3 Open Studios
            p Founded in 2020, 
              a(href='https://openstudios.xyz') Open Studios 
              | produces cutting edge digital media, software and high end goods. We operate a number of online stores, produce our own media IP and create fine jewellery and couture garments.
            p Open Studios is a tech leader and innovator, reducing the amount of labor required for production.
      .item
        .ui.grid.stackable.very.relaxed
          .column.six.wide
            iframe.ui.image(width="560" height="350" src="https://www.youtube.com/embed/cJcr09qIVrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .column.ten.wide
            a(href='/case-studies/langenium.html')
              h3 Langenium
            p Consuming much of my spare time from 2012 to 2017, 
              a(href='https://github.com/paulbrzeski/Langenium') Langenium 
              | was a concept MMORPG built on socket.io, Three.JS and Node.JS. At its height the website received 1000 visits a month and had a working arcade style arena where players could anonymously hop into a flying vehicle and shoot one another.
