extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Services

block append page
  .ui.main.container
    h2.ui.dividing.header Case Studies
    .ui.two.column.very.relaxed.stackable.grid
      .column
        h3
          a(href='/case-studies/best-3D-design-tools-for-indie-game-development-in-2019.html') The Best 3D Design Tools for Indie Game Development in 2019
        p In a commercial studio environment, there are dedicated teams of people committed to individual aspects of a game’s look — concept artists, modelers, animators, effects.. people, etc. As an Indie game developer, replicating those traditional processes seems outright impossible — simply due to time.
        p I've decided to present my own perspective as a hobbyist Indie game developer with drawing and visual art skills that could be called "child like". I have some background in graphic design due to past work, but as you'll read on in this case study that's not quite the  same as the art skills needed to freely paint anything you need for the purpose of recreating it in a virtual world.
        p For more on this topic, have a look at 
          a(href='https://medium.com/@mail_59849/creating-good-tools-for-a-brave-new-world-a85fa2da43cf') Creating Good Tools for a Brave New World
          | , a blog post where I discuss my decision to create 
          a(href='https://github.com/paulbrzeski/manifold') Manifold
          | - a dedicated 2D/3D hybrid design tool for creating HTML5 games and art.
      .column
        h3
          a(href='/case-studies/langenium.html') Langenium
          img.ui.fluid.image(src='/assets/screenshot_from_langenium_staging_4_1_14_by_nimf-d70tmnb.png')
