extends /src/templates/layout.pug

block append scripts
  link(href='/dist/landing.css', rel='stylesheet')
  link(href='/dist/case-studies.css', rel='stylesheet')

block append title
  | Case studies

block append page
  header
    img.ui.image(src='/assets/case-studies.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -425px ')
    h2 Case studies
  #case_studies
    .ui.list
      .item
        .ui.grid
          .column.six.wide
            iframe.ui.image(width="560" height="350" src="https://www.youtube.com/embed/cJcr09qIVrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .column.ten.wide
            a(href='/case-studies/langenium.html')
              h3 Langenium
            p Consuming much of my spare time from 2012 to 2017, 
              a(href='https://github.com/paulbrzeski/Langenium') Langenium 
              | was a concept MMORPG built on socket.io, Three.JS and Node.JS. At its height the website received 1000 visits a month and had a working arcade style arena where players could anonymously hop into a flying vehicle and shoot one another.
      .item
        .ui.grid
          .column.six.wide
            a(href='/case-studies/best-3D-design-tools-for-indie-game-development-in-2019.html')
              img.ui.large.image.fluid(src='/assets/1_i5HV9jeFSSRjc_9O_PWGTQ.jpeg' alt='Screenshot of Houdini functionality to generate buildings in Maya')
          .column.ten.wide
            .content
              a(href='/case-studies/best-3D-design-tools-for-indie-game-development-in-2019.html') 
                h3 The Best 3D Design Tools for Indie Game Development in 2019
              p I've decided to present my own perspective as a hobbyist Indie game developer with drawing and visual art skills that could be called "child like". I have some background in graphic design due to past work, but as you'll read on in this case study that's not quite the  same as the art skills needed to freely pull things from your mind and recreate them in a virtual world.
