extends /src/templates/layout.pug

block append head
  link(href='/dist/landing.css', rel='stylesheet')
  link(href='/dist/case-studies.css', rel='stylesheet')

block append title
  | Case studies

block append page
  header
    img.ui.image(src='/assets/case-studies.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -425px ')
    h2 Case studies
  #case_studies
    .ui.list
      .item
        .ui.grid.stackable.very.relaxed
          .column.six.wide
            iframe.ui.image(width="560" height="350" src="https://www.youtube.com/embed/cJcr09qIVrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .column.ten.wide
            a(href='/case-studies/langenium.html')
              h3 Langenium
            p Consuming much of my spare time from 2012 to 2017, 
              a(href='https://github.com/paulbrzeski/Langenium') Langenium 
              | was a concept MMORPG built on socket.io, Three.JS and Node.JS. At its height the website received 1000 visits a month and had a working arcade style arena where players could anonymously hop into a flying vehicle and shoot one another.
      .item
        .ui.grid.stackable.very.relaxed
          .column.six.wide
            a(href='/case-studies/open-studios.html')
              img.ui.image.fluid(src='/assets/logo-openstudios.png' alt='The Open Studios logo is an open HTML tag')
          .column.ten.wide
            a(href='/case-studies/open-studios.html')
              h3 Open Studios
            p Founded in 2020, 
              a(href='https://openstudios.xyz') Open Studios 
              | is a company I'm starting up to produce my open source digital media, software and games projects. Imagine you lived in a world 
              | before someone invented Lego.
            p Open Studios goal is to be a tech leader and innovator; to make the equivalent of Lego for software and games production.