extends /src/templates/layout.pug

block append head
  link(href='/dist/landing.css', rel='stylesheet')
  link(href='/dist/services.css', rel='stylesheet')

block append title
  | Services

block append page
  header
    img.ui.image(src='/assets/services.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -325px ')
    h2 Services
  #services 
    .ui.very.relaxed.stackable.grid.centered
      .row
        .column.twelve.wide
          h3 Hello!
          p Starting as a data entry clerk for an ISP called Westnet, I found myself understanding the systems around me and quickly ascended in the ranks to become a supervisor within the Provisioning team. Liaising with developers in that capacity led me to realize I could pursue my programming interests as a career.
          p Over a decade later, I have a combination of experiences as both a web developer in agency environments and software engineer in corporate environments. I am proud of having a countless list of completed projects and examples of good work and value given to my employers and clients alike in that time.
          img.ui.image.medium(src='/assets/signature.png')
        .column.four.wide
          a(href='/about.html' title='Tea is an essential part of good coding')
            img.ui.image.fluid(src='/assets/me.jpeg')
      .ui.divider
      .row
        .column
          .ui.grid.stackable.service_list
            .row
              .column.three.wide
                h3
                  i.ui.icon.lightbulb
                  |  Strategy
                p Every project and engagement involves some degree of consultation and technical guidance, I call this strategy.
                p The following Strategy services are based on over a decade of experience and available to add value to your business.
              .column.four.wide
                i.massive.inverted.grey.ui.icon.angle.double.right
              .column
              .column.four.wide
                a(href='/services/auditing.html')
                  img.ui.image.medium(src='/assets/auditing.jpg')
                  .caption
                    h3 Auditing
                    p Risk assessment, policy and compliance auditing
              .column.four.wide
                a(href='/services/consultancy-and-advocacy.html')
                  img.ui.image.medium(src='/assets/services.jpg')
                  .caption
                    h3 Consultancy and advocacy
                    p Digital Transformation for companies of all sizes, ROI and needs tailored approach
              .column.four.wide
                a(href='/services/documentation-and-training-workshops.html')
                  img.ui.image.medium(src='/assets/documentation.jpg')
                  .caption
                    h3 Documentation and training
                    p Create a baseline of understanding and capability within your organisation
              .column.four.wide
                a(href='/services/quality-assurance.html')
                  img.ui.image.medium(src='/assets/quality-assurance.jpg')
                  .caption
                    h3 Quality Assurance (QA)
                    p Auditing, testing and reviewing technical decisions, direction, platform and process
              .column.four.wide
                a(href='/services/technical-project-management.html')
                  img.ui.image.medium(src='/assets/technical-project-management.jpg')
                  .caption
                    h3 Technical Project Management
                    p Care for a technical project during a critical stage, or from start to finish
              .column.four.wide
                a(href='/services/tutoring-professional-coaching.html')
                  img.ui.image.medium(src='/assets/tutoring-professional-coaching.jpg')
                  .caption
                    h3 Tutoring and Professional Coaching
                    p Bespoke lesson plans and advice for your career and needs
          .ui.dividing.header
          .ui.grid.stackable.service_list
            .row
              .column.three.wide
                h3
                  i.ui.icon.edit
                  |   Design
                p The expectations for robust user experiences and information access have been elevated by decades of progress in graphic, web and software design.
                p As a veteran of corporate environments and digital agencies, I have a vast number of past experiences and successful solutions to draw from.
              .column.four.wide
                i.massive.inverted.grey.ui.icon.angle.double.right
              .column
              .column.four.wide
                a(href='/services/business-process-design.html')
                  img.ui.image.medium(src='/assets/business-process-design.jpg')
                  .caption
                    h3 Business process design
                    p Innovate and automate business processes
              .column.four.wide
                a(href='/services/data-analytics-and-reporting.html')
                  img.ui.image.medium(src='/assets/data-analytics.jpg')
                  .caption
                    h3 Data analytics and reporting
                    p Provide tools/scripts/software for research automation and data analysis
              .column.four.wide
              .column.four.wide
              .column.four.wide
                a(href='/services/research.html')
                  img.ui.image.medium(src='/assets/research.jpg')
                  .caption
                    h3 Research
                    p Compare software, investigate, research technologies, languages and frameworks
              .column.four.wide
                a(href='/services/system-design.html')
                  img.ui.image.medium(src='/assets/system-design.jpg')
                  .caption
                    h3 System design
                    p Design custom business systems using a mix of technology
          .ui.dividing.header
          .ui.grid.stackable.service_list
            .column.three.wide
              h3
                i.ui.icon.cogs
                |  Engineering
              p I've been writing code for over twenty years and am confident that I can deliver anything given the right plan, time and budget.
              p My past experiences and knowledge of the latest trends inform my offering, ensuring I can bring value in the most efficient manner possible.
            .column.four.wide
                i.massive.inverted.grey.ui.icon.angle.double.right
            .column
            .column.four.wide
              a(href='/services/software-web-development.html')
                img.ui.image.medium(src='/assets/software-web-dev.jpg')
                .caption
                  h3 Software applications
                  p Custom desktop and web applications, services, systems integrations and data systems.
            .column.four.wide
              a(href='/services/test-automation.html')
                img.ui.image.medium(src='/assets/test-automation.jpg')
                .caption
                  h3 Test business logic and data integrity
                  p Build, configure and run automated tests in an existing or new framework
            .column.twelve.wide
            .column.four.wide
              a(href='/services/software-web-development.html')
                img.ui.image.medium(src='/assets/software-web-dev.jpg')
                .caption
                  h3 Website development
                  p Custom websites, implement integrations and clear backlog of bugfixes
      .ui.divider
      .row
        .column.sixteen.wide#methodology
          .ui.grid.stackable.very.relaxed
            .row
              .column.sixteen.wide
                h3 The business case for good computer hardware
            .row
              .column.two.wide
                i.massive.inverted.grey.ui.icon.desktop
              .column.fourteen.wide
                p It's common practise for workplaces to supply the same laptop or workstation for all staff despite software engineers and other professionals needing more power for their software tools to work efficiently. I've personally lost countless hours over the course of my career to this issue.
                p Using the right tools for the job is a steering principle within web development for a good reason. I designed, built and use a cutting edge PC workstation for my business so that I can ensure optimal productivity and capability when it comes to different technologies and development environments.
            .row
              .column.four.wide
                a(href='https://www.instagram.com/p/BsIVUOKHruE/' title='More photos of my build on Instagram')
                  img.ui.image.fluid(src='/assets/pazuzu-construction2.png')
              .column.six.wide
                a(href='https://www.instagram.com/p/BsIVUOKHruE/' title='More photos of my build on Instagram')
                  img.ui.image.fluid(src='/assets/pazuzu-construction.png')
              .column.six.wide.left.aligned
                h4 CPU
                p Intel i7 8700k with custom Thermaltake HSF
                h4  Motherboard
                p Gigabyte Z390 Pro Wifi
                h4 RAM 
                p Corsair 32GB DDR4 Vengeance
                h4 PSU
                p eVGA 550W 80Plus Gold
                h4 Storage
                p Intel 545s Series 512GB SSD
                h4 Screens
                p 3x 1080p displays
                h4 Connectivity
                p 100mbit FTTP internet over 802.11ax, Bluetooth
      .ui.divider
      .row
        .column.middle.aligned#engagement_types
          h3 Engagement Types
          .ui.very.relaxed.stackable.grid.centered
            .column.six.wide.middle.aligned
              h4 Contract/project based
              strong Assist a project or team
            .column.six.wide.middle.aligned
              h4 Retainer
              strong Consult and provide ad-hoc guidance
      .ui.divider
      .row
        .column.middle.aligned#benefits
          h3 What's in it for you?
          .ui.very.relaxed.stackable.grid.centered.twelve.wide
            .column.six.wide.middle.aligned
              img.ui.image.fluid(src='/assets/customer-experience.jpg')
              h4 Improved customer experience
              p Following best practices in User Experience and Human Centered Design.
            .column.six.wide.middle.aligned
              img.ui.image.fluid(src='/assets/productive-staff.jpg')
              h4 More productive staff
              p Identify root causes and symptoms that can be addressed to improve productivity.
            .column.six.wide.middle.aligned
              img.ui.image.fluid(src='/assets/quality.jpg')
              h4 Quality Assurance
              p Ensure a uniform offering by your business that is sustainable and scalable.
            .column.six.wide.middle.aligned
              img.ui.image.fluid(src='/assets/save-time-money.jpg')
              h4 Save time and money
              p By getting to know you and your business, I can figure out a sensible way to do things better.
