extends /src/templates/layout.pug

block append head
  link(href='/dist/landing.css', rel='stylesheet')
  link(href='/dist/services.css', rel='stylesheet')

block append title
  | Services

block append page
  header
    img.ui.image(src='/assets/services.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -325px ')
    h2 Services
  #services 
    .ui.very.relaxed.stackable.grid.centered
      .row
        .column.twelve.wide
          h3 Hello there!
          p Starting as a data entry clerk for an ISP called Westnet, I found myself understanding the systems around me and quickly ascended in the ranks to become a supervisor within the Provisioning team. Liaising with developers in that capacity led me to realize I could pursue my programming interests as a career.
          p Fourteen years later, I have a combination of experiences as both a web developer in agency environments and software engineer in corporate environments. I am proud of having a countless list of completed projects and examples of good work and value given to my employers and clients alike in that time.
          img.ui.image.medium(src='/assets/signature.png')
        .column.four.wide
          a(href='/about.html' title='Tea is an essential part of good coding')
            img.ui.image.fluid(src='/assets/me.jpeg')
      .ui.divider
      .row
        .column
          include /src/templates/blocks/services.pug
      .ui.divider
      .row
        .column.sixteen.wide#methodology
          .ui.grid.stackable
            .row
              .column.three.wide.right.aligned
                a(href='https://www.instagram.com/p/BsIVUOKHruE/' title='More photos of my build on Instagram')
                  img.ui.image.fluid(src='/assets/pazuzu-construction.png')
              .column.two.wide
                h3 Hardware
                i.massive.inverted.grey.ui.icon.angle.double.right.hide_on_mobile
              .column.six.wide
                h3.hide_on_mobile &nbsp;
                h4 The business case for good computer hardware
                p It's common practise for workplaces to supply the same laptop or workstation for all staff despite software engineers and other professionals needing more power for their software tools to work efficiently. I've personally lost countless hours over the course of my career to this issue.
                p Using the right tools for the job is a steering principle within web development for a good reason. I designed, built and use a cutting edge PC workstation for my business so that I can ensure optimal productivity and capability when it comes to different technologies and development environments.
              .column.three.wide.hide_on_mobile
              .column.two.wide
                a(href='https://www.instagram.com/p/BsIVUOKHruE/' title='More photos of my build on Instagram')
                  img.ui.image.fluid(src='/assets/pazuzu-construction2.png')
            .row
              .column.five.wide.hide_on_mobile
              .column.two.wide
                h4 CPU
                p Intel i7 8700k with AIO Water Cooler
              .column.two.wide
                h4  Motherboard
                p Gigabyte Z390 Pro Wifi
              .column.two.wide
                h4 RAM 
                p Corsair 32GB DDR4 Vengeance
              .column.two.wide
                h4 PSU
                p Corsair RM850x 850W
              .column.three.wide.hide_on_mobile
            .row
              .column.five.wide.hide_on_mobile
              .column.two.wide
                h4 Storage
                p Crucial P5 2TB NVMe
              .column.two.wide
                h4 Screens
                p Dual monitors with ergonomic arms
              .column.two.wide
                h4 Connectivity
                p 100mbit FTTP internet over 802.11ax, Bluetooth
              .column.two.wide
                h4 Operating Systems
                p Windows 10 Pro
                p Ubuntu
              .column.three.wide.hide_on_mobile
            .row
              .column.five.wide.hide_on_mobile
              .column.two.wide
                h4 Other hardware
                ul.ui.list
                  li Home Server (xcp-ng)
                  li Various test devices
      .ui.divider
      .row
        .column.center.aligned#engagement_types
          h3 Engagement Types
          .ui.very.relaxed.stackable.grid.centered
            
            .column.six.wide.center.aligned
              strong Ad-hoc
              p Hourly or daily rates.
            .column.six.wide.center.aligned
              strong Contract/project based
              p Project or outcomes basis.
      .ui.divider
      .row
        .column.center.aligned#benefits
          h3 What's in it for you?
          .ui.very.relaxed.stackable.grid.centered.twelve.wide
            .column.six.wide.center.aligned
              img.ui.image.fluid(src='/assets/customer-experience.jpg')
              h4 Improved customer experience
              p Following best practices in User Experience and Human Centered Design.
            .column.six.wide.center.aligned
              img.ui.image.fluid(src='/assets/productive-staff.jpg')
              h4 More productive staff
              p Identify root causes and symptoms that can be addressed to improve productivity.
            .column.six.wide.center.aligned
              img.ui.image.fluid(src='/assets/quality.jpg')
              h4 Quality Assurance
              p Ensure a uniform offering by your business that is sustainable and scalable.
            .column.six.wide.center.aligned
              img.ui.image.fluid(src='/assets/save-time-money.jpg')
              h4 Save time and money
              p By getting to know you and your business, I can figure out a sensible way to do things better.
