extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Services | Paul Brzeski

block append page
  .ui.main.container
    h2.ui.dividing.header Services
    .ui.two.column.very.relaxed.stackable.grid.centered
      .column.middle.aligned
        .ui.list
          .item
            h2.service.contract Hourly
            strong Cost: $100 AUD per hour
            br
            br
            br
            br
          .item
            h2.service.contract Project
            strong Cost: Quote required
            br
            br
            br
            br
      .column
        .ui.list
          .item
            h3
              a(href='/services/auditing.html') Auditing
            p Risk assessment, policy and compliance auditing
          .item
            h3
              a(href='/services/business-process-design.html') Business process design
            p Innovate and automate business processes
          .item
            h3 
              a(href='/services/consultancy-and-advocacy.html') Consultancy and advocacy
            p Consult companies and organisations about software, business process and IT. Advocate for pragmatic best practices to stakeholders and delivering ROI.
          .item
            h3 
              a(href='/services/data-analytics-and-reporting.html') Data analytics and reporting
            p Provide tools/scripts/software for research automation and data analysis
          .item
            h3 
              a(href='/services/documentation-and-training-workshops.html') Documentation and training workshops
            p Create a baseline of understanding and competence within your organisation
          .item
            h3 
              a(href='/services/research.html') Research
            p Compare software, investigate, research technologies, languages and frameworks
          .item
            h3 
              a(href='/services/software-web-development.html') Software/web development
            p Develop custom applications, systems, integrations and bugfixes
          .item
            h3 
              a(href='/services/system-design.html') System design
            p Design custom business systems using a mix of technology
          .item
            h3 
              a(href='/services/test-automation.html') Test automation
            p Build, configure and run automated tests in an existing or new framework
          .item
            h3 
              a(href='/services/testing-and-quality-assurance.html') Testing and Quality Assurance
            p Auditing, testing and reviewing technical decisions, direction, platform and process.
