extends /src/templates/layout.pug

block append head
  link(href='/dist/landing.css', rel='stylesheet')
  link(href='/dist/services.css', rel='stylesheet')

block append title
  | Services

block append page
  header
    img.ui.image(src='/assets/services.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -325px ')
    h2 Services
  #services 
    .ui.very.relaxed.stackable.grid.centered
      .row
        .column.ten.wide
          h3 Hello!
          p Starting as a data entry clerk for an ISP called Westnet, I found myself understanding the systems around me and quickly ascended in the ranks to become a supervisor within the Provisioning team. Liaising with developers in that capacity led me to realize I could pursue my programming interests as a career.
          p Over a decade later, I have a combination of experiences as both a web developer in agency environments and software engineer in corporate environments. I am proud of having a countless list of completed projects and examples of good work and value given to my employers and clients alike in that time.
          img.ui.image.medium(src='/assets/signature.png')
        .column.six.wide
          a(href='/about.html' title='Tea is an essential part of good coding')
            img.ui.image.fluid(src='/assets/me.jpeg')
      .ui.divider
      .row
        .column
          .ui.grid.stackable#service_list
            .column
              a(href='/services/auditing.html')
                img.ui.image.medium(src='/assets/auditing.jpg')
                .caption
                  h3 Auditing
                  p Risk assessment, policy and compliance auditing
            .column
              a(href='/services/business-process-design.html')
                img.ui.image.medium(src='/assets/business-process-design.jpg')
                .caption
                  h3 Business process design
                  p Innovate and automate business processes
            .column
              a(href='/services/consultancy-and-advocacy.html')
                img.ui.image.medium(src='/assets/services.jpg')
                .caption
                  h3 Consultancy and advocacy
                  p Digital Transformation for companies of all sizes, approaches tailored for maximum ROI
            .column
              a(href='/services/data-analytics-and-reporting.html')
                img.ui.image.medium(src='/assets/data-analytics.jpg')
                .caption
                  h3 Data analytics and reporting
                  p Provide tools/scripts/software for research automation and data analysis
            .column
              a(href='/services/documentation-and-training-workshops.html')
                img.ui.image.medium(src='/assets/documentation.jpg')
                .caption
                  h3 Documentation and training workshops
                  p Create a baseline of understanding and capability within your organisation
            .column
              a(href='/services/research.html')
                img.ui.image.medium(src='/assets/research.jpg')
                .caption
                  h3 Research
                  p Compare software, investigate, research technologies, languages and frameworks
            .column
              a(href='/services/software-web-development.html')
                img.ui.image.medium(src='/assets/software-web-dev.jpg')
                .caption
                  h3 Software/web development 
                  p Develop custom applications, systems, integrations and bugfixes
            .column
              a(href='/services/system-design.html')
                img.ui.image.medium(src='/assets/system-design.jpg')
                .caption
                  h3 System design
                  p Design custom business systems using a mix of technology
            .column
              a(href='/services/test-automation.html')
                img.ui.image.medium(src='/assets/test-automation.jpg')
                .caption
                  h3 Test automation
                  p Build, configure and run automated tests in an existing or new framework
            .column.empty
            .column
              a(href='/services/testing-and-quality-assurance.html')
                img.ui.image.medium(src='/assets/test-quality.jpg')
                .caption
                  h3 Testing and Quality Assurance
                  p Auditing, testing and reviewing technical decisions, direction, platform and process
            .column.empty
      .ui.divider
      .row
        .column.ten.wide.middle.aligned#methodology
          h3 How I work
          p Using the right tools for the job is a steering principle within web development for a good reason. I built and use a cutting edge PC workstation for my business so that I can ensure optimal productivity and capability when it comes to different technologies and development environments.
          .ui.grid.stackable.very.relaxed
            .column.ten.wide.left.aligned
              a(href='https://www.instagram.com/p/BsIVUOKHruE/')
                img.ui.image.fluid(src='/assets/magi-construction.png')
              div  CPU: Intel i7 8700k with custom Thermaltake HSF
              div  Motherboard: Gigabyte Z390 Pro Wifi
              div  RAM: Corsair 32GB DDR4 Vengeance
              div  PSU: eVGA 550W 80Plus Gold
              div  HD: Intel 545s Series 512GB SSD
            .column.six.wide.right.aligned
              img.ui.image.fluid(src='/assets/work-process.PNG')
      .ui.divider
      .row
        .column.middle.aligned#engagement_types
          h3 Engagement Types
          .ui.very.relaxed.stackable.grid.centered
            .column.six.wide.middle.aligned
              h4 Project
              strong Lead or join an existing project
            .column.six.wide.middle.aligned
              h4 Retainer
              strong Consult and provide ad-hoc guidance
      .ui.divider
      .row
        .column.middle.aligned#benefits
          h3 What's in it for you?
          .ui.very.relaxed.stackable.grid.centered.twelve.wide
            .column.six.wide.middle.aligned
              img.ui.image.fluid(src='/assets/customer-experience.jpg')
              h4 Improved customer experience
              p Following best practices in User Experience and Human Centered Design.
            .column.six.wide.middle.aligned
              img.ui.image.fluid(src='/assets/productive-staff.jpg')
              h4 More productive staff
              p Identify root causes and symptoms that can be addressed to improve productivity.
            .column.six.wide.middle.aligned
              img.ui.image.fluid(src='/assets/quality-assurance.jpg')
              h4 Quality Assurance
              p Ensure a uniform offering by your business that is sustainable and scalable.
            .column.six.wide.middle.aligned
              img.ui.image.fluid(src='/assets/save-time-money.jpg')
              h4 Save time and money
              p By getting to know you and your business, I can figure out a sensible way to do things better.
