extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Services | Made in Kettlefish (https://github.com/paulbrzeski/kettlefish)

block append page
  .ui.main.container
    h2.ui.dividing.header Services
    .ui.two.column.very.relaxed.stackable.grid.centered
      .column.middle.aligned
        .ui.list
          .item
            h2.service.contract Hourly
            strong Cost: $50 AUD per hour
            br
            br
            br
            br
          .item
            h2.service.contract Project
            strong Cost: Quote required
            br
            br
            br
            br
      .column
        .ui.list
          .item
            h3 Auditing
            p Risk assessment, policy and compliance auditing
          .item
            h3 Business process design
            p Innovate and automate business processes
          .item
            h3 Consultancy
            p Consult companies and organisations about software, business process and IT.
          .item
            h3 Data analytics
            p Provide tools/scripts/software for research automation and data analysis
          .item
            h3 Documentation and training workshops
            p Create a baseline of understanding and competence within your organisation
          .item
            h3 Research
            p Compare software, investigate, research technologies, languages and frameworks
          .item
            h3 Software/web development
            p Develop custom applications, systems, integrations and bugfixes
          .item
            h3 System design
            p Design custom business systems using a mix of technology
          .item
            h3 Test automation
            p Build, configure and run automated tests
          .item
            h3 Testing and Quality Assurance
            p Auditing, testing, reviewing