extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | The Best 3D Design Tools for Indie Game Development in 2019 | Case Studies

block append page
  .ui.main.container
    h2.ui.dividing.header.centered The Best 3D Design Tools for Indie Game Development in 2019
    .ui.one.column.very.relaxed.stackable.grid
      .column.ten.wide.centered
        p Coming soon!
