extends /src/templates/layout.pug

block append head
  link(href='/dist/landing.css', rel='stylesheet')
  link(href='/dist/case-studies.css', rel='stylesheet')

block append title
  | The Best 3D Design Tools for Indie Game Development in 2019-2020 | Case Studies

block append page
  header
    img.ui.image(src='/assets/case-studies.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -425px ')
    h2 The Best 3D Design Tools for Indie Game Development in 2019-2020
  #case_studies
    .ui.one.column.very.relaxed.stackable.grid
      .column.ten.wide.centered
        p This case study is under construction, check back soon!
        p For more on this topic, have a look at 
          a(href='https://medium.com/@mail_59849/creating-good-tools-for-a-brave-new-world-a85fa2da43cf') Creating Good Tools for a Brave New World
          | , a blog post where I discuss my decision to create 
          a(href='https://github.com/paulbrzeski/manifold') Manifold
          | - a dedicated 2D/3D hybrid design tool for creating HTML5 games and art.
