extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | The Best 3D Design Tools for Indie Game Development in 2019 | Case Studies

block append page
  .ui.main.container
    h2.ui.dividing.header.centered The Best 3D Design Tools for Indie Game Development in 2019
    .ui.one.column.very.relaxed.stackable.grid
      .column.ten.wide.centered
        p This case study is under construction, check back soon!
        p For more on this topic, have a look at 
          a(href='https://medium.com/@mail_59849/creating-good-tools-for-a-brave-new-world-a85fa2da43cf') Creating Good Tools for a Brave New World
          | , a blog post where I discuss my decision to create 
          a(href='https://github.com/paulbrzeski/manifold') Manifold
          | - a dedicated 2D/3D hybrid design tool for creating HTML5 games and art.
