extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Langenium | Case Studies

block append page
  .ui.main.container
    h2.ui.dividing.header.centered Langenium
    .ui.one.column.very.relaxed.stackable.grid
      .column.ten.wide.centered
        p Coming soon!
