extends /src/templates/layout.pug

block append head
  link(href='/dist/landing.css', rel='stylesheet')
  link(href='/dist/case-studies.css', rel='stylesheet')

block append title
  | Langenium | Case Studies

block append page
  header
    img.ui.image(src='/assets/case-studies.jpg' style='object-fit: cover; max-height: 330px; width: 100%; object-position: 0px -425px ')
    h2 Langenium
  #case_studies
    .ui.one.column.very.relaxed.stackable.grid
      .column.ten.wide.centered
        p Consuming much of my spare time from 2012 to 2017, 
          a(href='https://github.com/paulbrzeski/Langenium') Langenium 
          | was a concept MMORPG built on socket.io, Three.JS and Node.JS. At its height the website received 1000 visits a month and had a working arcade style arena where players could anonymously hop into a flying vehicle and shoot one another.
        p Using a separate Git repository to manage art assets and Readme files in Github, I had a really good system for managing my art assets that has informed my view on the value of version control to this day.
        p The below video demonstrates one of the last builds of the game featuring a smooth frame rate, procedurally generated environment while also being rendered using the server to allow multiplayer functionality.
        p I'm still working on the rest of this article, please check back soon!
        iframe(width="680" height="400" src="https://www.youtube.com/embed/bx1qSntZxVI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)